<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

<div class="w-[calc(100vw_-_200px)]">
  <div class="flex justify-center">
    <h1 class="my-4 text-4xl font-bold">Listado de Licensias</h1>
  </div>

  <button
    (click)="navegateTo('admin/create-license')"
    class="button-black ml-8"
  >
    crear
  </button>

  <ul>
    <li
      class="mx-8 my-4 flex justify-between"
      *ngFor="let license of licenses"
    >
      <div class="flex gap-8">
        <p>
          {{ license.id }}
        </p>

        <!-- <p>
          {{ license.expiration_date }}
        </p>

        <p>
            {{ license.description }}
        </p>

        <p>
            {{ license.type }}
        </p> -->
      </div>

      <div class="flex gap-8">
        <button
          (click)="navegateTo('admin/edit-vehicle/' + license.id)"
          class="button-black"
        >
          actualizar
        </button>

        <!-- <button (click)="onDelete(vehicle.id)" class="button-black">
          eliminar
        </button> -->
      </div>
    </li>
  </ul>
</div>
