<div class="flex justify-center">
  <div
    class="flex w-full max-w-[1600px] flex-col items-center justify-around gap-8 lg:flex-row lg:gap-0"
  >
    <div class="flex flex-col gap-8 text-center">
      <h1 class="max-w-[480px] font-semibold lg:max-w-[560px]" id="title">
        Elige como viajar a través del mundo
      </h1>

      <div class="flex justify-around">
        <button class="w-[124px] rounded-3xl bg-white px-6 py-2 text-black">
          Conduce
        </button>

        <button class="w-[124px] rounded-3xl bg-white px-6 py-2 text-black">
          Viaja
        </button>
      </div>
    </div>

    <img
      src="../../../../assets/images/home.jpg"
      class="h-[520px] max-w-[90vw] rounded-3xl lg:max-w-[520px]"
    />
  </div>
</div>
