<div class="flex h-full w-[100vw] flex-col justify-center gap-8">
  <div class="flex justify-center">
    <h3>Seleccione cómo viajar</h3>
  </div>

  <div class="flex items-center justify-evenly">
    <div
      (click)="selectRole('cliente')"
      class="flex h-[200px] w-[200px] cursor-pointer flex-col items-center justify-center rounded-lg bg-gray hover:bg-black hover:text-white"
    >
      Cliente
      <mat-icon class="text-[80px]" style="width: 80px; height: 80px">
        person_pin_circle
      </mat-icon>
    </div>

    <div
      (click)="selectRole('conductor')"
      class="flex h-[200px] w-[200px] cursor-pointer flex-col items-center justify-center rounded-lg bg-gray hover:bg-black hover:text-white"
    >
      Conductor
      <mat-icon class="text-[80px]" style="width: 80px; height: 80px">
        directions_car
      </mat-icon>
    </div>
  </div>
</div>
