<div class="flex h-full flex-col justify-center gap-12">
  <div class="flex flex-col gap-5">
    <div class="flex justify-center">
      <h1 class="text-4xl font-bold">Únete al viaje</h1>
    </div>

    <form
      [formGroup]="form"
      (ngSubmit)="onSignup()"
      class="flex h-full flex-col gap-4"
    >
      <input
        class="input"
        formControlName="email"
        name="email"
        placeholder="Correo"
        type="email"
      />

      <span *ngIf="isValidField('email')" class="text-red-600">{{
        getFieldError('email')
      }}</span>

      <input
        class="input"
        formControlName="password"
        name="password"
        placeholder="Contraseña"
        [type]="typePassword"
      />

      <span *ngIf="isValidField('password')" class="text-red-600">{{
        getFieldError('password')
      }}</span>

      <input
        class="input"
        formControlName="confirmPassword"
        name="confirmPassword"
        placeholder="Confirmar contraseña"
        [type]="typePassword"
      />

      <span *ngIf="isValidField('confirmPassword')" class="text-red-600">{{
        getFieldError('confirmPassword')
      }}</span>

      <div class="flex justify-end">
        <strong
          class="cursor-pointer"
          *ngIf="typePassword === 'password'; else txt"
          (click)="changeTypeText()"
        >
          Mostrar contraseñas
        </strong>

        <ng-template #txt>
          <strong class="cursor-pointer" (click)="changeTypePassword()">
            Ocultar contraseñas
          </strong>
        </ng-template>
      </div>

      <button type="submit" class="button-black">Regístrarse</button>
    </form>
  </div>

  <div class="text-center">
    <p>
      ¿Ya tienes una cuenta?
      <span
        routerLink="auth"
        routerLinkActive="active"
        class="cursor-pointer font-bold"
        >Iniciar sesión</span
      >
    </p>
  </div>
</div>
