<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

<div
  class="my-4 flex h-full w-screen max-w-[1600px] flex-col-reverse items-center justify-evenly md:flex-row"
>
  <div class="flex flex-col gap-5">
    <div class="flex justify-center">
      <h1 class="text-4xl font-bold">Crear perfil</h1>
    </div>

    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="flex h-full flex-col gap-4"
    >
      <input
        class="input"
        formControlName="name"
        name="name"
        placeholder="Nombre"
        type="text"
      />

      <span *ngIf="isValidField('name')" class="text-red-600">{{
        getFieldError('name')
      }}</span>

      <input
        class="input"
        formControlName="lastName"
        name="lastName"
        placeholder="Apellido"
        type="text"
      />

      <span *ngIf="isValidField('lastName')" class="text-red-600">{{
        getFieldError('lastName')
      }}</span>

      <input
        class="input"
        formControlName="profilePhoto"
        name="profilePhoto"
        placeholder="Foto de perfil"
        type="text"
        (keyup)="changePhotoProfile(txtInput.value)"
        #txtInput
      />

      <span *ngIf="isValidField('profilePhoto')" class="text-red-600">{{
        getFieldError('profilePhoto')
      }}</span>

      <input
        class="input"
        formControlName="birthday"
        name="birthday"
        placeholder="Fecha de cumpleaños"
        [max]="max"
        type="date"
      />

      <span *ngIf="isValidField('birthday')" class="text-red-600">{{
        getFieldError('birthday')
      }}</span>

      <select
        class="input"
        formControlName="backgroundImage"
        name="backgroundImage"
      >
        <option value="">-- Seleccione un color de fondo --</option>
        <option *ngFor="let color of colors" [value]="color.color">
          {{ color.name }}
        </option>
      </select>

      <span *ngIf="isValidField('backgroundImage')" class="text-red-600">{{
        getFieldError('backgroundImage')
      }}</span>

      <input
        class="input"
        formControlName="numberPhone"
        name="numberPhone"
        placeholder="Telefono"
        type="tel"
      />

      <span *ngIf="isValidField('numberPhone')" class="text-red-600">{{
        getFieldError('numberPhone')
      }}</span>

      <button type="submit" class="button-black">Configurar perfil</button>
    </form>
  </div>

  <div
    class="relative flex h-[300px] w-[90vw] items-center justify-center overflow-hidden rounded-lg border-4 border-black md:w-[360px]"
  >
    <img
      class="absolute h-[200px] w-[200px] rounded-full"
      [src]="profilephoto"
      [alt]="profilephoto"
    />

    <div
      class="absolute bottom-0 right-0 z-[-1] h-[300px] w-[90vw] md:w-[360px]"
      [ngClass]="form.controls['backgroundImage'].value"
    ></div>
  </div>
</div>
