<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

<div class="flex flex-col">
  <button (click)="goBack()" class="button-black ml-8 mt-4">volver</button>

  <div
    class="my-4 flex h-full w-[calc(100vw_-_200px)] flex-col-reverse justify-evenly md:flex-row"
  >
    <div class="flex flex-col gap-5">
      <div class="flex justify-center">
        <h1 *ngIf="createMode; else editMode" class="text-4xl font-bold">
          Crear factura
        </h1>

        <ng-template #editMode>
          <h1 class="text-4xl font-bold">Editar factura</h1>
        </ng-template>
      </div>

      <form [formGroup]="form" class="flex h-full flex-col gap-4">
        <select class="input" formControlName="service" name="service">
          <option value="">-- Seleccione un servicio --</option>
          <option *ngFor="let service of services" [value]="service.id">
            {{ service.id }}
          </option>
        </select>
        <span *ngIf="isValidField('service')" class="text-red-600">{{
          getFieldError('service')
        }}</span>

        <select class="input" formControlName="card" name="card">
          <option value="">-- Seleccione una tarjeta de crédito --</option>
          <option *ngFor="let card of cards" [value]="card._id">
            {{ card.name }}
          </option>
        </select>
        <span *ngIf="isValidField('card')" class="text-red-600">{{
          getFieldError('card')
        }}</span>

        <button
          *ngIf="createMode; else editbuttonMode"
          (click)="onCreate()"
          class="button-black"
          type="submit"
        >
          Crear factura
        </button>

        <ng-template #editbuttonMode>
          <button (click)="onUpdate()" type="submit" class="button-black">
            Editar factura
          </button>
        </ng-template>
      </form>
    </div>
  </div>
</div>
